html,body{
	margin: 0px;
	padding: 0px;
}
.query{
	display: inline-block;
	background-color: ;
	padding-bottom: 20px;
}
#tophead{
	padding-bottom: 30px;
}
.profile{
	display: inline-block;
	background-color: ;
	padding-bottom: 20px;
}
.pro-img{
	width:170px;
	height:170px;
	float: left;
}
.profile-list{
	float: left;
	padding-bottom: 70px;
}
.clear{
	clear: both;
}
.profile li{
	list-style-type: none;
	font-family: microsoft tai le;
	font-weight: normal;
	line-height: 30px;
	font-size: 20px;
}
.form-control{
	display: inline-block;
	padding-bottom: 100px;
	resize:none;
}	
.qno{
	display: inline-block;
	padding-bottom: 10px;
	width: 100%;
	resize:none;
}
.qform{
	min-height: 200px;
	max-height: 625px;
    overflow-y: scroll;
    
}
.butt{
	width: 275px;
	height: 50px;
}
